# head {{{
snippet head
#!/bin/env Rscript --vanilla
# -*- coding: utf-8 -*-
#
# Authors:     $1
# Maintainers: $1
# License:     `! date +"%Y"`, HRDAG, GPL v2 or later
# ===========================================
# `! projpath.py $PWD``!p snip.rv = fn`
endsnippet
# }}}

# vim: foldmethod=marker
