snippet head
#!/bin/env python3
# -*- coding: utf-8 -*-
#
# Authors:     $1
# Maintainers: $1
# License:     20`! date +"%y"`, HRDAG, GPL v2 or later
# ===========================================
# `! projpath.py $PWD``!p snip.rv = fn`
endsnippet
